@import "../palette";

#contact {
  .form {
    margin: 50px auto 100px;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    color: gray;

    input,
    textarea {
      outline: none;
      border: 1px solid $gray;
      border-radius: 10px;
      margin-bottom: 50px;
      padding: 15px;
      font-size: 20px;
    }

    button {
      background-color: $action;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 15px;
      border-radius: 10px;
      color: white;
      width: 100%;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: darken($action, 10%);
      }
    }
  }

  .social-media-links {
    margin-bottom: 100px;

    .media-popover {
      .popover-body {
        font-family: "Quicksand", sans-serif !important;
        font-size: 20px !important;
        color: $gray !important;
      }
      transform: translateX(calc(110px * 1.5)) translateY(-25px);
      width: 100%;

      @media (min-width: 768px) and (max-width: 915px) {
        transform: translateX(calc(80px * 1.5)) translateY(-25px);
        width: 50%;
      }
      @media (max-width: 768px) {
        transform: translateX(calc(50% + 100px / 2)) translateY(-25px);
      }
      @media (max-width: 576px) {
        width: 80%;
      }
    }

    a {
      display: block;
      height: 120px;
    }

    .tile {
      padding: 15px;
      font-size: 20px;
      color: gray;
      margin: 0 auto;

      text-decoration: none;
      display: block;
      width: 200px;
      height: 60px;
      background: #fff;
      text-align: left;
      padding-left: 25px;
      transform: rotate(-30deg) skew(25deg) translate(0, 0);
      transition: 0.5s;
      box-shadow: -20px 20px 25px rgba(0, 0, 0, 0.5);

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background: #b1b1b1;
        transform: 0.5s;
        transform: rotate(0deg) skewY(-45deg);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        background: #b1b1b1;
        transform: 0.5s;
        transform: rotate(0deg) skewX(-45deg);
      }

      &:hover {
        transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
      }

      &.github:hover {
        // normal
        background: #333333;
        color: white !important;
        p {
          color: white;
        }
        &::before {
          // dark
          background: #0d0d0d;
        }
        &::after {
          // light
          background: #595959;
        }
      }

      &.linkedin:hover {
        background: #2867b2;
        color: white;
        p {
          color: white;
        }
        &::before {
          background: #1a4374;
        }
        &::after {
          background: #4f8dd7;
        }
      }

      &.dribbble:hover {
        background: #ea4c89;
        color: white;
        p {
          color: white;
        }
        &::before {
          background: #d11960;
        }
        &::after {
          background: #f290b6;
        }
      }

      @media screen and (max-width: 576px) {
        &:hover {
          transform: rotate(-30deg) skew(25deg) translate(0, 0);
          box-shadow: -20px 20px 25px rgba(0, 0, 0, 0.5);
        }
      }

      @media (max-width: 576px) {
        &.github {
          // normal
          background: #333333;
          color: white !important;
          p {
            color: white;
          }
          &::before {
            // dark
            background: #0d0d0d;
          }
          &::after {
            // light
            background: #595959;
          }
        }

        &.linkedin {
          background: #2867b2;
          color: white;
          p {
            color: white;
          }
          &::before {
            background: #1a4374;
          }
          &::after {
            background: #4f8dd7;
          }
        }

        &.dribbble {
          background: #ea4c89;
          color: white;
          p {
            color: white;
          }
          &::before {
            background: #d11960;
          }
          &::after {
            background: #f290b6;
          }
        }
      }

      p,
      .fa {
        display: inline-block;
      }

      p {
        padding-left: 10px;

        color: gray;
        letter-spacing: 4px;
        transition: 0.5s;
      }
    }
  }
}
