@import "../palette.scss";

#portfolio {
  display: block;
  min-height: 100vh;
  padding-top: 50px;
  background-color: white;
  z-index: 10;

  .left-col {
    .preview-image:first-child {
      margin: 0 auto;
    }
    .preview-image:not(:first-child) {
      margin: 300px auto;
    }
  }

  .right-col {
    .preview-image {
      margin: 300px auto;
    }
  }

  .preview-image {
    display: block;
    position: relative;
    width: 80%;
    transition: 0.5s;

    &:hover {
      cursor: pointer;

      transform: translate(-2.5%, -2.5%);
      .frame {
        height: 420px !important;
        width: 105% !important;
        box-shadow: 5px 5px 20px rgba($black, 0.1);
      }
    }

    .frame {
      transition: 0.5s;
      border: 2px solid;
      box-shadow: 10px 10px 40px rgba($black, 0.2);
      border-radius: 15px;
      border-color: $action;
      height: 400px;
      width: 100%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      // TODO: update
      // background-color: white;

      img {
        max-height: 100%;
        height: 100%;
      }
    }

    .header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      color: $gray;
      font-style: italic;
      height: fit-content;

      .image-title {
        font-style: normal;
        font-size: 35px;
        margin-right: 10px;
        font-family: "Playfair Display", serif;
        color: $action;
        display: block;
      }

      .image-description {
        padding-bottom: 5px;
      }
    }

    // &.honey {
    //   .frame {
    //     border-color: $honey;
    //   }
    //   .image-title {
    //     color: $honey;
    //   }
    // }
    // &.red {
    //   .frame {
    //     border-color: $red;
    //   }
    //   .image-title {
    //     color: $red;
    //   }
    // }
    // &.green {
    //   .frame {
    //     border-color: $green;
    //   }
    //   .image-title {
    //     color: $green;
    //   }
    // }
    // &.navy {
    //   .frame {
    //     border-color: $navy;
    //   }
    //   .image-title {
    //     color: $navy;
    //   }
    // }
    // &.blue {
    //   .frame {
    //     border-color: $blue;
    //   }
    //   .image-title {
    //     color: $blue;
    //   }
    // }

    @media (max-width: 768px) {
      margin: 30px auto !important;
    }
  }
}

.fullscreen-modal {
  .modal-100wh {
    margin: 0 !important;
    position: fixed !important;
    min-width: 100% !important;
    min-height: 100% !important;
  }

  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}
