@import "./palette.scss";

body {
  font-family: "Roboto", sans-serif;

  h2 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
    display: block;
    margin: 0 auto 80px;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: $black;

    &::after {
      content: "";
      width: 400px;
      height: 1px;
      display: block;
      padding-top: 20px;
      margin: 0 auto;
      border-bottom: 1px solid gray;
    }
  }

  .hidden {
    opacity: 0;
  }

  .no-display {
    display: none;
  }
}
