$black: #32292f;
$darkgray: lighten($black, 20%);
$gray: lighten($black, 40%);
$lightgray: lighten($black, 60%);
$white: #ffffff;
$action: #2374ab;

$red: #fa003f;
$honey: #ffad05;
$green: #9bc53d;
$blue: #2374ab;
$navy: #150578;
