@import "../palette.scss";

@mixin useColor($colorName, $color) {
  &.#{$colorName} {
    color: $color;

    .tag {
      border-color: $color;

      &:hover {
        color: $white;
        background-color: $color;
      }
    }
  }
}

#skills {
  display: block;
  height: 100%;
  width: 100%;

  .tag-row {
    height: 100%;
    width: 100%;
    padding: 10px 0;
    margin-top: 30px;

    color: $darkgray;
    // @include useColor("red", $red);
    // @include useColor("honey", $honey);
    // @include useColor("green", $green);
    // @include useColor("blue", $blue);
    // @include useColor("navy", $navy);

    .label {
      display: block;
      height: 100%;
      font-size: 25px;
      font-family: "Quicksand", sans-serif;
      border-right: 1px solid $gray;
      text-align: right;
      padding-right: 30px;

      @media (max-width: 768px) {
        border-right: none;
        border-bottom: 1px solid;
        text-align: center;
        padding-bottom: 10px;
      }
    }

    .tags {
      display: block;
      font-size: 20;

      .tag {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px;
        border: 1px solid;
        border-radius: 10px;
        transition: 0.4s;
        border-color: $gray;

        &:hover {
          color: $white;
          background-color: $gray;
        }
      }

      @media (max-width: 768px) {
        margin-top: 10px;
        text-align: center;
      }
    }
  }
}
